<!DOCTYPE html>
<html th:replace="~{/fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head.html :: head('Form')"></head>

<body>

<main>
    <div class="container-fluid text-center my-4">
        <h1 class="text-center">Cadastro</h1>
        <form th:action="${pessoaJuridica.id == null} ? @{/pessoasJuridicas/save} : @{/pessoasJuridicas/update}" th:object="${pessoaJuridica}" method="post" >
            <input type="hidden" th:field="*{id}">
            <!--<input type="text" th:field="*{tipo}" value="F" placeholder="Pessoa" class="my-2" style="min-width:25%;">-->
            <!-- <div class="alert alert-danger" th:each="m: ${msg}">
                 <ul>
                     <li th:text="${m}"></li>
                 </ul>
             </div>-->

            <div>
                <input type="text" th:field="*{razaoSocial}" placeholder="Razão Social" class="my-2" style="min-width:25%;" ><br>
                <!--<label th:if="${#fields.hasErrors('razaoSocial')}" th:errors="*{razaoSocial}"></label>-->
                <span class="text-danger"  th:if="${#fields.hasErrors('razaoSocial')}" th:errors="*{razaoSocial}" onfocus="this.value=''"></span>
            </div>

            <div>
                <input type="text" th:field="*{cnpj}" placeholder="CNPJ" class="my-2" style="min-width:25%;" title="CNPJ inválido" ><br>
                <!--<label th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></label>-->
                <span class="text-danger"  th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" onfocus="this.value=''"></span>
            </div>

            <div>
                <input type="email" th:field="*{email}" placeholder="Email" class="my-2" style="min-width:25%;" ><br>
                <!--<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>-->
                <span class="text-danger"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div>
                <input type="tel" th:field="*{telefone}" placeholder="Telefone" class="my-2" style="min-width:25%;" pattern="[0-9]{10,11}" title="Telefone inválido" ><br>
                <!--<label th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></label>-->
                <span class="text-danger"  th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
            </div>
            <!--<input type="radio" id="F" name="tipo" class="form-check-input"  checked>-->

            <div class="form-check form-check-block">
                <input type="submit" class="btn btn-success my-2" value="Enviar">
                <!--<button type="submit" class="btn btn-primary my-2">Salvar</button>-->
                <a th:href="@{/home}" class="btn btn-primary" >Home</a>
            </div>
        </form>
    </div>
</main>

</body>
</html>