<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Arquivos CSS do Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Arquivos JavaScript do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-w9MF6UJ/6uP/H6+hDZv/F8lWlFQIbPZdlHIMyvO8dLjK4x4pLzpzmbRLvBWibW0s" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head th:replace="~{fragmento :: head('Carrinho')}">
    <script>
        function selecionarPessoa(elemento, idPessoa) {
            var tipoPessoa = elemento.getAttribute("data-tipo");

            window.location.href = "/finalizar/" + idPessoa + "?tipoPessoa=" + tipoPessoa;

        }
    </script>
</head>


<body>

<header th:replace="~{fragmento :: header}"></header>

<div class="container my-2">

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Opção</th>

        </tr>
        <h1 style="text-align:center">Carrinho de Compras</h1>
        </thead>
        <tbody>
        <tr th:each="item,posicao : ${session.venda.itemVendas}">
            <td th:text="${item.produto.descricao}"></td>
            <td th:text="${item.quantidade}"></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/vendas/remover/{posicao}(posicao=${posicao.index})}" class="btn btn-danger">Remover</a></td>
        </tr>

        </tbody>
    </table>


    <div class="mb-5">
        <form form method="post" th:action="@{/vendas/pesquisar}">
            <input type="radio" id="f" name="pessoa" value="F" class="mr-6">
            <label for="f" style="margin-right:10px;">Pessoa Física</label>
            <input type="radio" id="j" name="pessoa" value="J">
            <label for="j">Pessoa Jurídica</label><br>
            <input type="submit" value="Enviar" class="btn btn-secondary">
        </form>
    </div>



    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Nomes</th>
        </tr>
        <!--<h1 style="text-align:center">Nome das Pessoas</h1>-->
        </thead>


        <tbody>
        <tr th:each="pessoa : ${pessoas}">
            <td>
                <span th:if="${tipoPessoa == 'F'}" th:text="${pessoa.nome}"></span>
                <span th:if="${tipoPessoa == 'J'}" th:text="${pessoa.razaoSocial}"></span>
            </td>
            <!-- Colunas adicionais, se necessário -->
            <td>
            <td><a th:href="@{/vendas/selecionar/{id}(id=${pessoa.id})}" class="btn btn-success" >Selecionar</a></td>
        </tr>
        </tbody>
    </table>





    <div class="row">
        <div class="col">
            <a th:href="@{/vendas/finalizar}" class="btn btn-success float-right">Finalizar Comprar</a>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
            <h2 class="float-right mr-15">Total: R$ <td th:text="${session.venda.total}" ></td></h2>
            <a th:href="@{/produtos/list}" class="btn btn-info">Voltar</a>
        </div>
    </div>



</div>


<!-- O segundo valor estará selecionado inicialmente -->


<div class="container">
    <footer th:replace="~{fragmento :: footer}"></footer>
</div>

</body>
</html>