<!DOCTYPE html>
<html th:replace="~{/fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head.html :: head('Form')">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

<main>
    <div class="container-fluid text-center my-4">
        <h1 class="text-center">Cadastro de Física </h1>

        <form th:action="${pessoaFisica.id == null} ? @{/pessoasFisicas/save} : @{/pessoasFisicas/update}" th:object="${pessoaFisica}" method="post" class="row g-3">
            <input type="hidden" th:field="*{id}">

            <div class="col-md-6">
                <label class="form-label">Nome:</label>
                <input type="text" th:field="*{nome}" class="form-control" style="min-width:25%;">
                <span class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" onfocus="this.value=''"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label">CPF:</label>
                <input type="text" th:field="*{cpf}" class="form-control" style="min-width:25%;">
                <div th:if="${#fields.hasErrors('cpf')}" class="text-danger">
                    <p th:errors="*{cpf}"></p>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label">Email:</label>
                <input type="text" th:field="*{email}" class="form-control" style="min-width:25%;">
                <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                    <p th:errors="*{email}"></p>
                </div>
            </div>

            <div class="col-md-6">
                <label class="form-label">Telefone:</label>
                <input type="text" th:field="*{telefone}" class="form-control" style="min-width:25%;">
                <div th:if="${#fields.hasErrors('telefone')}" class="text-danger">
                    <p th:errors="*{telefone}"></p>
                </div>
            </div>
            <h2>Endereço</h2>

            <div class="col-md-6">
                <label class="form-label">Cep:</label>
                <input th:field="${endereco.cep}" type="text" id="cep" value="" size="30" maxlength="9" onblur="pesquisacep(this.value);"
                       class="form-control">
            </div>

            <div class="col-md-6">
                <label class="form-label">Rua:</label>
                <input th:field="${endereco.logradouro}" type="text" id="rua" size="40" class="form-control">
            </div>

            <div class="col-md-6">
                <label class="form-label">Bairro:</label>
                <input th:field="${endereco.bairro}" type="text" id="bairro" size="40" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Cidade:</label>
                <input th:field="${endereco.localidade}" type="text" id="cidade" size="40" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Estado:</label>
                <input th:field="${endereco.uf}" type="text" id="uf" size="2" class="form-control">
                <input type="submit" class="btn btn-success my-2" value="Enviar">
            </div>

            <div class="col-12">
                <div class="form-check form-check-block">
                    <input type="submit" class="btn btn-success my-2" value="Enviar">
                    <a th:href="@{/fragmento}" class="btn btn-primary">Home</a>
                </div>
            </div>
        </form>
    </div>
</main>

</body>
</html>
