<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<head th:replace="~{fragmento :: head('Pessoas Físicas')}"></head>

<body>

<header th:replace="~{fragmento :: header}"></header>

<div class="container my-2">

<table  border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th colspan="2">Opções</th>
    </tr>
    <h1 style="text-align:center">Pessoas Físicas</h1>

    </thead>
    <tr th:each="p : ${pessoas}" th:object="${pessoaFisica}">
        <td th:text="${p.id}"> </td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.cpf}"></td>
        <td th:text="${p.email}"></td>
        <td th:text="${p.telefone}"></td>
        <td> <a th:href="@{/pessoasFisicas/edit/{id}(id=${p.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                th:href="@{/pessoasFisicas/remove/{id}(id=${p.id})}">Excluir</a> </td>
    </tr>
</table>
    <a th:href="@{/home}" class="btn btn-info">Voltar</a>
    <a th:href="@{/pessoasFisicas/form}" class="btn btn-primary">Form</a>
</div>

<div class="container">
    <footer th:replace="~{fragmento :: footer}"></footer>
</div>

</body>
</html>

