
<header class="container" th:fragment="header">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/fragmento}">E-commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/fragmento}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/produtos/list}">Listar Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/vendas/list}">Listar Vendas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Listar Pessoas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/pessoasFisicas/list}" class="col-2">Listar Pessoas Físicas</a></li>
                            <li><a th:href="@{/pessoasJuridicas/list}" class="col-2">Listar Pessoas Jurídicas</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>


