<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>FORM</h1>
<form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}" method="post">
  <input type="hidden" th:field="*{id}">
  <input type="text" th:field="*{descricao}"  placeholder="Descricao">
  <input type="text" th:field="*{valor}"  placeholder="Valor">
  <input type="submit" value="Enviar">
</form>
<br>
<br>
<br>

<form th:action="@{/pesquisarproduto}" method="post">
  <label for="nomepesquisa">Pesquisar produto:</label>
  <input type="text" id="nomepesquisa" name="nomepesquisa">
  <button type="submit">Buscar</button>
</form>
<div th:if="${not #lists.isEmpty(produtos)}">
  <h2>Produtos encontrados:</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
      <td th:text="${produto.id}"></td>
      <td th:text="${produto.nome}"></td>
      <td th:text="${produto.preco}"></td>
      <td th:text="${produto.descricao}"></td>
    </tr>
    </tbody>
  </table>
</div>




</body>
</html>