<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>CRUD COM JAVA E SPRING</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<form th:action="@{/produtos/pesquisarproduto}" method="get">
  <label for="nomepesquisa">Pesquisar produto:</label>
  <input type="text" id="nomepesquisa" name="nomepesquisa">
  <button type="submit" class="btn">Buscar</button>
</form>


<table class="table" border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Descricao</th>
    <th>Valor</th>
    <th colspan="2">Opções</th>
  </tr>

  </thead>
  <tr th:each="p : ${produtos}">
    <td th:text="${p.id}"> </td>
    <td th:text="${p.descricao}"> </td>
    <td th:text="${p.valor}"> </td>
    <td> <a th:href="@{/produtos/edit/{id}(id=${p.id})}">Editar</a> </td>
    <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produtos/remove/{id}(id=${p.id})}">Excluir</a> </td>
  </tr>
</table>

</body>
</html>

</body>
</html>