<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Produtos')}"></head>
<body>

<header th:replace="~{fragmento :: header}"></header>

<div class="container my-2">

    <div th:if="${erroQtd != null}" >
        <span class="alert alert-danger" th:text="${erroQtd}"></span>
    </div>

    <form th:action="@{/produtos/pesquisarproduto}" method="get" style="margin-bottom: 20px;">
        <label for="nomepesquisa">Pesquisar produto:</label>
        <input type="text" id="nomepesquisa" name="nomepesquisa">
        <button type="submit" class="btn">Buscar</button>
    </form>


    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th colspan="3">Opções</th>
        </tr>

        </thead>
        <tr th:each="p : ${produtos}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.descricao}"></td>
            <td th:text="${p.valor}"></td>
            <td><a th:href="@{/produtos/edit/{id}(id=${p.id})}">Editar</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/produtos/remove/{id}(id=${p.id})}">Excluir</a></td>
            <td>
            <td>
                <form method="POST" th:action="@{/vendas/adicionar/{id}(id=${p.id})}">
                    <input type="number" min="1" name="quantidade" placeholder="quantidade">
                    <button type="submit" class="btn btn-info">Adicionar</button>
                </form>
            </td>
        </tr>
    </table>

    <a th:href="@{/vendas/carrinho/list}" class="btn btn-info">Ver carrinho</a>

</div>

<div class="container">
    <footer th:replace="~{fragmento :: footer}"></footer>
</div>

</body>
</html>
